{%extends 'base.html'%}

{%block title%}
Лев Толстой – зеркало русской революции.
{%endblock%}

{%block content%}
<main>
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1>{{ text }}</h1>
    <p>
      Группа тайных поклонников графа.
    </p>
    {% for post in posts %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date }}
        </li>
        <li>
          {% if post.group %}
          Группа: {{ post.group.title }}
          {% else %}
          Группа: нет
          {% endif %}
        </li>
      </ul>      
      <p>
        {{ post.text }}
      </p>         
    </article>
    <hr>
    {% endfor %}
    
    <!-- под последним постом нет линии -->
  </div>  
</main>
{%endblock%}